body {
  background-color: #202020;
  color: #F0F0F0;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  margin: 0 auto;
  width: fit-content;
}

section {
  clear: both;
  margin: 0 auto;
  width: fit-content;
}
